<div class="h-full">
  <app-navbar></app-navbar>
  <main class="h-full w-full overflow-y-scroll scroll-smooth snap snap-y snap-mandatory">
    <app-section-wrapper id="start">
      <div class="h-full w-full md:w-1/2 flex flex-col items-center justify-center p-6">
        <div class="w-[250px] sm:w-[300px] md:w-[320px] lg:w-[410px]">
          <img src="assets/dreiecke.png">
          <img src="assets/lesehund.png">
          <img src="assets/dogAssistance.png">
        </div>
      </div>
      <div class="h-full w-full md:w-1/2 flex flex-col items-start justify-center p-6">
        <h1 class="text-xl md:text-2xl">Start</h1>
        <p class="text-neutral-500 text-xs md:text-base mt-2">
          Herzlich Willkommen bei den Lesehund-Teams im Dreiländereck Hessen/Rheinland-Pfalz/NRW.
        </p>
        <p class="text-neutral-500 text-xs md:text-base mt-2">
          Die waldreiche und hügelige Landschaft des Lahn-Dill-Kreises und des angrenzenden Westerwaldes und Siegerlandes ist das Zuhause von uns und unseren Fellnasen.
        </p>
        <p class="text-neutral-500 text-xs md:text-base mt-2">
          Wir engagieren uns schon seit fast 20 Jahren ehrenamtlich mit unseren Besuchshunden und bieten dieses neue Lesehund-Programm nun gezielt separat an.
          Um dies qualifiziert tun zu können, sind wir dem Verein Lesehund von Kimberly Ann Kistler-Grobholz in München beigetreten.
        </p>
        <p class="text-neutral-500 text-xs md:text-base mt-2">
          Das Projekt Lesehund gab es als erstes Projekt für Leseförderung mit Hund im deutschsprachigen Raum (Einführung 2008).
          2014 trat es R.E.A.D. (Reading Eductation Assistance Dogs ®) U.S.A. als Partner/Affiliate bei und wurde 2017 ein eigenständiger Verein.
        </p>
        <p class="text-neutral-500 text-xs md:text-base mt-2">
          Als Teil von R.E.A.D. sind wir führend in Leseförderung mit Hunden.
          Alle unsere Teams sind Mitglied im Lesehund-Verein und können die entsprechenden Qualifikationen vorweisen.
          Unser Service wird als tiergestützte Aktivität (engl. AAA, animal assisted activities) eingestuft.
        </p>
      </div>
    </app-section-wrapper>
    <app-section-wrapper id="wir">
      <div class="h-full w-full md:w-3/4 flex flex-col items-start justify-center p-6">
        <h1 class="text-xl md:text-2xl">Über uns</h1>
        <h2 class="text-neutral-800 text-lg md:text-xl mt-2">Wir…</h2>
        <ul class="list-disc">
          <li>… sind eine Gruppe von ehrenamtlich arbeitenden Enthusiasten, die sich auf die Fahne geschrieben haben, Kinder mit Leseschwächen mit Hilfe unserer Hunde zu unterstützen.</li>
          <li>… sind Mensch-Hund-Teams mit Erfahrungen im Besuchshundedienst.</li>
          <li>… sind Mitglied im Verein lesehund.de und haben die entsprechende Zusatzausbildung absolviert, so dass wir auch ausbilden dürfen.</li>
          <li>… haben uns im Dreiländereck Hessen/Rheinland-Pfalz/NRW neu organisiert und würden uns über Zuwachs mächtig freuen!</li>
        </ul>
        <h2 class="text-neutral-800 text-lg md:text-xl mt-2">Ansprechpartner:</h2>
        <ul class="list-disc">
          <li>Annette Schöler (Kontaktdaten)</li>
          <li>Viktoria Burhorst (Kontaktdaten)</li>
          <li>Renate Zimmermann (kontaktdaten)</li>
        </ul>
      </div>
    </app-section-wrapper>
    <app-section-wrapper id="projekt">
      <div class="h-full w-full md:w-3/4 flex flex-col items-start justify-center p-6">
        <h1 class="text-xl md:text-2xl">Das Projekt</h1>
        <p class="text-neutral-500 text-xs md:text-base mt-2">
          Lesen erleichtert den Zugang zur Bildung und zu einem erfolgreichen Berufsleben.
          Wer regelmäßig liest, stimuliert die eigenen Gehirnzellen, trainiert seine kognitiven Fähigkeiten und verbessert sein Vokabular,
          die Konzentrationsfähigkeit und die Fantasie/das Vorstellungsvermögen.
        </p>
        <h2 class="text-neutral-800 text-lg md:text-xl mt-2">Wichtig:</h2>
        <p class="text-neutral-500 text-xs md:text-base mt-2">
          Das Projekt Lesehund ist kein Leseunterricht, sondern eine Lernhilfe.
          Es ist nicht so wichtig, wie die Kids lesen, sondern wie sie sich fühlen, während  sie lesen.
        </p>

        <h2 class="text-neutral-800 text-lg md:text-xl mt-2">Das Problem</h2>
        <p class="text-neutral-500 text-xs md:text-base mt-2">
          Das Problem der Leseschwäche ist bereits seit Jahren bekannt und liegt häufig den folgenden Ursachen zugrunde:
        </p>
        <ul class="list-disc">
          <li class="text-neutral-500 text-xs md:text-base">Unsicherheit und Angst, laut vorzulesen.</li>
          <li class="text-neutral-500 text-xs md:text-base mt-1">Lehrer müssen bewerten, Mitschüler sind oft nicht nett, Eltern sind zu ungeduldig oder haben keine Zeit.</li>
          <li class="text-neutral-500 text-xs md:text-base mt-1">Mangelnde Übung durch weniges oder gar kein Lesen in der Familie  </li>
        </ul>
        <h2 class="text-neutral-800 text-lg md:text-xl mt-2">Aufbau und Durchführung der Lesestunden</h2>
        <p class="text-neutral-500 text-xs md:text-base mt-2">
          Einsatz in Schulen oder außerschulischen Einrichtungen (Bibliotheken, Horte, etc.)<br />
          Kinder im Alter von 4 – 8 Jahren<br />
          1 x pro Woche<br />
          1 Kind liest dem Hund 20 Minuten vor (max. 3 Kinder pro Sitzung)
        </p>
        <p class="text-neutral-500 text-xs md:text-base mt-2">
          Das R.E.A.D. Programm ist auf die Bedürfnisse der Kinder von Vorschule bis zur 3. Klasse zugeschnitten. Bis zum Ende der 3. Klasse lernen die meisten Kinder lesen. Mit Beginn der 4. Klasse fangen sie an zu lesen um zu lerne.
        </p>
        <p class="text-neutral-500 text-xs md:text-base mt-2">
          Das Angebot richtet sich besonders an Kinder, die bereit sind, dem Lesehund vorzulesen, die schüchtern oder unruhig sind oder Deutsch als Zweitsprache lernen.
        </p>
        <h2 class="text-neutral-800 text-lg md:text-xl mt-2">Wie hilft ein Lesehund?</h2>
        <p class="text-neutral-500 text-xs md:text-base mt-2">
          Durch den Einsatz von Lesehunden werden Kinder selbstbewusster und lernen zudem, sich in andere hineinzuversetzen (Empathie). Sollte ein Kind vorher noch Angst vor Hunden gehabt haben, wird diese nach und nach abgebaut, was das Kind noch mutiger macht.
        </p>
        <p class="text-neutral-500 text-xs md:text-base mt-2">
          Darüber hinaus wird Folgendes gefördert:
        </p>
        <ul class="list-disc">
          <li class="text-neutral-500 text-xs md:text-base">Wortschatz</li>
          <li class="text-neutral-500 text-xs md:text-base mt-1">Lesefluss und -sicherheit</li>
          <li class="text-neutral-500 text-xs md:text-base mt-1">Vorstellungsvermögen und Fantasie</li>
          <li class="text-neutral-500 text-xs md:text-base mt-1">Konzentrationsfähigkeit</li>
          <li class="text-neutral-500 text-xs md:text-base mt-1">Kreativität</li>
          <li class="text-neutral-500 text-xs md:text-base mt-1">Kognitive Fähigkeiten</li>
          <li class="text-neutral-500 text-xs md:text-base mt-1">Emotionale und soziale Kompetenzen</li>
        </ul>
        <h2 class="text-neutral-800 text-lg md:text-xl mt-2">Mitgliedschaft</h2>
        <p class="text-neutral-500 text-xs md:text-base mt-2">
          Wir freuen uns immer über neue Mitglieder, die uns bei unserem Projekt unterstützen.
          Neben einer bestandenen Hundeführerschein-Prüfung und der Teilnahme an einem Workshop des Lesehund-Vereins, müssen sowohl Mensch als auch Hund gewisse Voraussetzungen erfüllen.
        </p>
        <h3>Voraussetzungen Mensch</h3>
        <ul class="list-disc">
          <li class="text-neutral-500 text-xs md:text-base">Soziale Grundeinstellung (Sozialkompetenz)</li>
          <li class="text-neutral-500 text-xs md:text-base mt-1">Empathie</li>
          <li class="text-neutral-500 text-xs md:text-base mt-1">Sensibilität</li>
          <li class="text-neutral-500 text-xs md:text-base mt-1">Belastbarkeit</li>
          <li class="text-neutral-500 text-xs md:text-base mt-1">Zuverlässigkeit</li>
          <li class="text-neutral-500 text-xs md:text-base mt-1">Mobilität</li>
          <li class="text-neutral-500 text-xs md:text-base mt-1">Ausdauer</li>
          <li class="text-neutral-500 text-xs md:text-base mt-1">Gute Bindung zum eigenen Hund</li>
          <li class="text-neutral-500 text-xs md:text-base mt-1">Kynologisches Grundwissen</li>
          <li class="text-neutral-500 text-xs md:text-base mt-1">Lust, sich auf Neues einzulassen</li>
          <li class="text-neutral-500 text-xs md:text-base mt-1">Reflektionsgabe</li>
        </ul>
        <h3>Voraussetzungen Hund</h3>
        <ul class="list-disc">
          <li class="text-neutral-500 text-xs md:text-base">Gesundheit</li>
          <li class="text-neutral-500 text-xs md:text-base mt-1">Grundgehorsam</li>
          <li class="text-neutral-500 text-xs md:text-base mt-1">Mindestalter 12 Monate</li>
          <li class="text-neutral-500 text-xs md:text-base mt-1">Interesse an Kindern</li>
          <li class="text-neutral-500 text-xs md:text-base mt-1">sensibel, einfühlsam, nicht zu stürmisch</li>
          <li class="text-neutral-500 text-xs md:text-base mt-1">Belastbar (unempfindlich gegenüber Berührungen und lärmenden/tobenden Kindern)</li>
          <li class="text-neutral-500 text-xs md:text-base mt-1">Gute Bindung zum Hundebesitzer</li>
          <li class="text-neutral-500 text-xs md:text-base mt-1">Gepflegtes Äußeres</li>
        </ul>
      </div>
    </app-section-wrapper>
    <app-section-wrapper id="kontakt">
      <div class="h-full w-full md:w-1/2 flex flex-col items-start justify-center p-6">
        <h2 class="text-neutral-800 text-lg md:text-xl mt-2">Kontakt</h2>
        <p class="text-neutral-500 text-xs md:text-base mt-1">Sie interessieren sich für eine Mitgliedschaft, wollen unseren kostenlosen Service buchen oder wünschen weitere Informationen?</p>
        <p class="text-neutral-500 text-xs md:text-base mt-1">Dann kontaktieren Sie uns gerne über das Kontaktformular, wir melden uns dann schnellstmöglich bei Ihnen.</p>
      </div>
      <div class="h-full w-full md:w-1/2 flex flex-col items-center justify-center p-6">
        <img src="assets/img.png" class="w-[250px] sm:w-[300px] md:w-[320px] lg:w-[410px]">
      </div>
    </app-section-wrapper>
  </main>
</div>

